/*------------------------------------------------------------------ 
Project:      Inkscape Tutorials   (tutorials)
--------------------------------------------------------------------
[Table of contents]
1. Header and footer
2. Page content
3. Offline specific
4. Online specific
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[1. Header and footer]
*/
.tutorial #tut-intro {
    font-style: italic;
    padding: 0 2em;
    text-align: justify;
    font: italic 1em sans-serif;
    color: #454545;
}
.tutorial h2,
.tutorial h3,
.tutorial h4,
.tutorial h5,
.tutorial h6 {
    font-family: sans-serif;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}
.tutorial h2 {
    font-size: 1.3em;
    margin: 1.5em 0 .5em 0;
}
.tutorial h3 {
    font-size: 1em;
    margin: 1.25px 0 .5em 0;
    font-style: italic;
}
.tutorial p {
    margin-bottom: 1em;
    line-height: 1.65em;
}

/*------------------------------------------------------------------
[2. Page content
*/
.tutorial kbd.tutorial-keycombo {}
.tutorial kbd.tutorial-key {
    display: inline-block;
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #555;
    font-weight: bold;
    line-height: 1;
    padding: 3px 5px;
    white-space: nowrap;
    cursor: default;
    letter-spacing: 1px;
    user-select: none;
}
.tutorial kbd.tutorial-key:hover {
    color: black;
}
.tutorial kbd.tutorial-key:active {
    color: black;
    box-shadow: 1px 1px 0px #ddd inset;
}
.tutorial kbd.tutorial-modifierkey {
    display: inline-block;
    background-color: #555;
    border-radius: 5px;
    border: 1px solid #666;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .2) inset;
    color: white;
    font-weight: bold;
    line-height: 1;
    padding: 3px 5px;
    white-space: nowrap;
    cursor: default;
    letter-spacing: 1px;
    user-select: none;
}
.tutorial kbd.tutorial-modifierkey:hover {
    color: rgba(255, 255, 255, .8);
}
.tutorial kbd.tutorial-modifierkey:active {
    color: rgba(255, 255, 255, .7);
    box-shadow: 1px 1px 0px rgba(255, 255, 255, .2) inset;
}
.tutorial .tutorial-plussign {
    padding: 0 .2em;
}
.tutorial .tutorial-commasign {
    padding: 0 .3em 0 .1em;
}
.tutorial .tutorial-arrowsign {
    padding: 0 .2em;
    font-size: 1.5em;
}
.tutorial kbd.tutorial-mousebutton {
    font: bold 1em mono;
    cursor: default;
    color: #555;
}
.tutorial kbd.tutorial-mousebutton:hover {
    color: black;
}
.tutorial kbd.tutorial-mousebutton:active {
    color: #555;
}
.tutorial kbd.tutorial-mousebutton::before {
    display: inline-block;
    content: " ";
    width: 24px;
    height: 24px;
    background-image: url("mouse.svg");
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
}
.tutorial kbd.tutorial-mousebutton.click::before              { background-position: 0 -24px }
.tutorial kbd.tutorial-mousebutton.double-click::before       { background-position: 0 -48px }
.tutorial kbd.tutorial-mousebutton.middle-click::before       { background-position: 0 -72px }
.tutorial kbd.tutorial-mousebutton.right-click::before        { background-position: 0 -96px }
.tutorial kbd.tutorial-mousebutton.mouse-wheel::before        { background-position: 0 -120px }
.tutorial kbd.tutorial-mousebutton.mouse-drag::before         { background-position: 0 -144px }
.tutorial kbd.tutorial-mousebutton.middle-button-drag::before { background-position: 0 -168px }
.tutorial kbd.tutorial-mousebutton.right-button-drag::before  { background-position: 0 -192px }

.tutorial kbd.tutorial-guimenu,
.tutorial kbd.tutorial-guisubmenu,
.tutorial kbd.tutorial-guimenuitem {
    color: #6495ED;
    font: italic small-caps bold 1.33em sans-serif;
}
.tutorial kbd.tutorial-menuchoice {
    color: #777;
    background-image: linear-gradient(to right, yellow 0, yellow 100%);
    background-position: 0 -0.1em;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background .5s;
}
.tutorial kbd.tutorial-menuchoice:hover {
    background-size: 100% 100%;
}
.tutorial span.firstterm {
    font-style: italic;
}
.tutorial code.tutorial-command,
.tutorial code.tutorial-code  {
    font-size: 1em;
    border: 1px solid #b4b4b4;
    background-color: #eee;
    padding: .25em;
}
.tutorial kbd.tutorial-guilabel,
.tutorial kbd.tutorial-guibutton {
    font-style: italic;
    font-size: 1.33em;
}
.tutorial object {
    display: block;
    width: 100%;
    margin: 2em 0;
}
.tutorial .credits {
    margin: 2em 0 0 0;
}
.tutorial .credits p {
    color: #999999;
    margin: 0 0 0 2em;
    text-indent: -2em;
}
.tutorial .credits a {
    color: #999999;
}

/*------------------------------------------------------------------
[3. Offline specific - Only for offline version
*/
body.tutorial {
    background: #fff;
    font: 1em sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
body.tutorial #tut-header {
    position: relative;
    height: 300px;
}
body.tutorial #tut-header a {
    position: absolute;
    top: 120px;
    left: 230px;
    width: 260px;
    height: 60px;
    color: transparent;
    text-decoration: none;
}
body.tutorial #tut-header h1 {
    padding: 250px 0 20px 48px;
    margin: 0;
    font: normal 2em/1em serif;
    color: black;
}
body.tutorial #tut-header h1 span:nth-child(1) {
    color: #de5f3a;
}
body.tutorial #tut-header h1 span:nth-child(2) {
    font-style: italic;
}
body.tutorial #tut-container {
    margin: 0 auto;
    width: 800px;
    text-align: left;
    background: url("tutorial-header.svg") no-repeat 0 0/800px;
}
body.tutorial #tut-content {
    padding: 0 48px 350px 48px;
    background: url("tutorial-footer.svg") no-repeat 0 bottom/800px;
}
body.tutorial #tut-footer {
    display: none;
}
body.tutorial .credits {
    margin-bottom: -4em;
}
body.tutorial .credits p {
    padding-left: 5em;
}
body.tutorial .credits p span {
    display: none;
}
body.tutorial .credits p::before {
    display: inline-block;
    content: " ";
    width: 32px;
    height: 32px;
    background-image: url("tutorial-credits-icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
    margin-left: -16px;
    margin-right: 16px;
}
body.tutorial .credits p#credits-authors::before     { background-position: 0 0px; }
body.tutorial .credits p#credits-translators::before { background-position: 0 -32px; }
body.tutorial .credits p#credits-designer::before    { background-position: 0 -64px; }

/*------------------------------------------------------------------
[4. Online specific - Only for website
*/
body:not(.tutorial) .wrapper .tutorial div#tut-header,
body:not(.tutorial) .wrapper .tutorial div#tut-footer,
body:not(.tutorial) .wrapper .tutorial .credits p#designer {
    display: none;
}
body:not(.tutorial) .tutorial kbd.tutorial-mousebutton::before { /* only on website */
    background-image: url("https://media.inkscape.org/media/doc/tutorials/mouse.svg");
}
body:not(.tutorial) .tutorial kbd.tutorial-guimenu, /* only on website */
body:not(.tutorial) .tutorial kbd.tutorial-guisubmenu,
body:not(.tutorial) .tutorial kbd.tutorial-guimenuitem,
body:not(.tutorial) .tutorial kbd.tutorial-guilabel,
body:not(.tutorial) .tutorial kbd.tutorial-guibutton {
    font-size: 1em;
}
